/* line 1, ../app/style/partials/_style.sass */
#map {
  height: 500px;
  widows: 100%;
}

/* line 5, ../app/style/partials/_style.sass */
.wisard-list {
  list-style: none;
  margin: 0;
}
/* line 8, ../app/style/partials/_style.sass */
.wisard-list li {
  margin-bottom: 1rem;
}
/* line 10, ../app/style/partials/_style.sass */
.wisard-list .wizard-btn {
  display: inline-block;
  width: 18rem;
  padding: 0.2rem 0.5rem;
  background-color: #d22035;
  text-align: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
/* line 19, ../app/style/partials/_style.sass */
.wisard-list .wizard-btn:hover {
  background-color: #a6192a;
}
/* line 21, ../app/style/partials/_style.sass */
.wisard-list .btn-description-toggle {
  display: inline-block;
  font-size: 1rem;
  background: #d22035;
  padding: 0.2rem 0.5rem;
  margin-left: -2px;
  color: white;
  cursor: pointer;
}
/* line 29, ../app/style/partials/_style.sass */
.wisard-list .btn-description-toggle:hover {
  background-color: #a6192a;
}
/* line 31, ../app/style/partials/_style.sass */
.wisard-list .wizard-description {
  width: 18rem;
  font-size: 0.9rem;
  background: #0889c9;
  padding: 0.2rem 0.5rem;
  color: white;
}

/* line 39, ../app/style/partials/_style.sass */
.nav-arrows i {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.5;
}
/* line 46, ../app/style/partials/_style.sass */
.nav-arrows i:hover {
  opacity: 1;
}
